.card{
    width: 23%;
    /* height: 800px; */
    box-shadow: 0px 0px 8px var(--light-color);
    padding: 8px;
    margin-bottom: 20px;
}
.card img{
    width: 100%;
    height: 200px;
    object-fit: cover;    
}
.card h5{
    padding-block: 10px;
}
.card p{
    padding-block: 13px;
}

.card button{
    margin-bottom: 15px;
}