.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav{
    box-shadow: 0px 0px 10px var(--light-color);
    padding-block: 20px;
}
ul{
    display: flex;
    gap: 20px;
    list-style: none;
    align-items: center;
}
li a {
    color: var(--main-color);
    text-decoration: none;
    
}