:root{
  --main-color :#e67e22;
  --light-color :#ecf0f1;
}

*{
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  box-sizing: border-box;
}

.container{
  width: 1200px;
  margin: 0 auto;
}
.container-fluid{
  width: 100%;
}